body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: #0080FF; 
  color: black;
  font-family: 'Arial', sans-serif;
}

h1 {
  margin-bottom: 750px; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
}